.fancy {
  color: red;
  font-style: italic;
}

h1 {
  font-family: cursive;
  text-align: center;
}

h2 {
  font-family: cursive;
  text-align: center;
}

h3 {
  font-family: cursive;
  text-align: center;
}

body {
  background-color: pink;
  text-align: center;
}

.best {
  font-weight: 900;
  font-size: 20px;
  font-family: fantasy;
}

.intro {
  font-style: italic;
  text-align: center;
}

.good {
  border: 2px solid blue;
  padding: 4px;
  margin: 12px;
  background-color: beige;
}

.bad {
  color: red;
  font-style: oblique;
}

.sidebar {
  width: 30%;
  float: left;
  background-color: red;
}

.column {
  width: 300px;
  float: right;
  text-align: center;
  border: 5px solid red;
  padding: 4px;
  margin: 12px;
  background-color: beige;
  margin-left: 75px;
}
